.v-home-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 46.55rem;
}
.v-font{
    font-size: 2rem;
}
.v-card-cont{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
