.footer{
    display: flex;
    align-items: center;
    margin: -7rem -3.5rem -0.5rem -3.5rem ;
    position: relative;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 2rem;
    color: white;
}

.f-icon{
    display: flex;
    gap: 2rem;
}

.copy-div{
    display: flex;
    gap: 1px;
}

.copy-div>:nth-child(2){
    text-decoration: none;
    color: white;
}